@model ProyecSis3.Models.Persona

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input name="Nombre" class="form-control" />
             
            </div>

            <div class="form-group">
                <label class="control-label">Apellido1</label>
                <input name="ApellidoUno" class="form-control" />
        
            </div>

            <div class="form-group">
                <label class="control-label">Apellido2</label>
                <input name="ApellidoDos" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Nombre de Usuario</label>
                <input name="NombredeUsuario" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input name="Contrasena" type="password" class="form-control" />
            </div>

            <div class="form-group">

                <label class="control-label">Estado</label>
                <br    />                
                <input  name="Estado" type="checkbox" class="form-check-input" />
                <label class="control-label">Activo</label>
   

            </div>

            <div class="form-group">
                <label class="control-label">Fecha de creaccion</label>
                <input name="fechadecreacion" type="date" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label">Rol</label>
                <select name="idrol" class="form-control" asp-items="ViewBag.RolIdrol" ></select> 

                <!-- <select name="RolIdrol" class="form-control" asp-items="ViewBag.RolIdrol"></select>-->
            </div>

            <div class="form-group">
                <label class="control-label">Telefono</label>
                <input name="Telefono" type="number" class="form-control" style="padding:0px!important" />

            </div>


            <div class="form-group">
                <label class="control-label">Correo</label>
                <input name="Correo" type="email" class="form-control" />

            </div>


            <div class="form-group">
                <label class="control-label">Direccion</label>
                <input name="Direccion" type="text" class="form-control" />

            </div>

          <!--      
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <input asp-for="IdPersona" class="form-control" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Apellido1" class="control-label"></label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Apellido2" class="control-label"></label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>


          
            <div class="form-group">
                <label asp-for="UsuarioIdUsuario" class="control-label"></label>
                <input name="UsuarioIdUsuario" class="form-control" />
                <span asp-validation-for="UsuarioIdUsuario" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="CatTelefonoIdCatTelefono" class="control-label"></label>
                <input name="CatTelefonoIdCatTelefono" type="tel" class="form-control" />
                <span asp-validation-for="CatTelefonoIdCatTelefono" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CatCorreoIdCatCorreo" class="control-label"></label>
                <input name="CatCorreoIdCatCorreo" type="email" class="form-control" />
                <span asp-validation-for="CatCorreoIdCatCorreo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CatDireccionIdCatDireccion" class="control-label"></label>
                <input name="CatDireccionIdCatDireccion" class="form-control" />
                <span asp-validation-for="CatDireccionIdCatDireccion" class="text-danger"></span>
            </div>
               -->


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
           
        
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
